body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  background: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.chat-box {
  flex: 1;
  width: 100%;
  max-width: 500px;
  background: #020617;
  border-radius: 10px;
  padding: 15px;
  overflow-y: auto;
}

.msg {
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.msg.user {
  background: #38bdf8;
  color: black;
  align-self: flex-end;
  margin-left: auto;
}

.msg.bot {
  background: #1e293b;
  align-self: flex-start;
}

.time {
  font-size: 10px;
  opacity: 0.6;
  margin-top: 4px;
}

.input-area {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

button.clear {
  background: #ef4444;
}

button.clear:hover {
  background: #dc2626;
}